/* .p-tabmenu {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .p-tabmenu .p-tabmenu-nav {
    background-color: transparent !important;
    gap: 3rem !important;
  }
  
  .p-tabmenu .p-tabmenuitem .p-menuitem-link {
    background-color: transparent !important;
  }
  
  html, body {
    overflow: hidden;
    height: 100%;
  }
   */