@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@font-face {
  font-family: 'Bitter Rose';
  src: url('../public/fonts/Bitter\ Rose\ DEMO.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Chillax Font Weights */
@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Extralight.otf') format('opentype');
  font-weight: 200;
  /* Extralight */
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Light.otf') format('opentype');
  font-weight: 300;
  /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Regular.otf') format('opentype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Medium.otf') format('opentype');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Semibold.otf') format('opentype');
  font-weight: 600;
  /* Semibold */
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../public/fonts/Chillax-Bold.otf') format('opentype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}